$customized-turquoise: hsl(171, 100%, 41%);
$customized-grey-dark: hsl(0, 0%, 29%);

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $breadcrumb-item-color: $customized-turquoise,
  $breadcrumb-item-hover-color: $customized-turquoise,
  $breadcrumb-item-active-color: $customized-grey-dark
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

aside.menu.sub-menu {
  position: fixed;
  bottom: 2rem;
}


table {
  tr {
    th.col-id {
      width: 10%;
    }
    th.col-control {
      width: 10%;
    }
  }
}
